.DS_Store
/DataDonor/build/
xcuserdata/
project.xcworkspace/
*.xcresult
server/node_modules/
server/logs/
client/build/
server/config.json
server/data/
!server/data/.gitkeep
server/certs/
!server/certs/.gitkeep
